[submodule "cms"]
	path = cms
	url = https://github.com/silverstripe/silverstripe-cms.git
[submodule "sapphire"]
	path = sapphire
	url = https://github.com/silverstripe/sapphire.git
[submodule "blog"]
	path = blog
	url = https://github.com/silverstripe/silverstripe-blog.git
