/* GLOBAL VARIABLE DEFINITIONS */

$font-family: Verdana, Lucida, sans-serif;
$font-family-buttons: $font-family;

$font-color: #666666;
$font-color-heading: #00B0D8;

$shadow: rgba(0,0,0,.5) 0 0 4px;

$background-color: #fff;

$link-color: #00B0D8;
$link-color-hover: #00B0D8;

$highlight: #5BC3BE;

$message-color: #C09853;
$message-background-colour: #FCF8E3;
$message-border-colour: #FBEED5;

$message-good-color: #468847;
$message-good-background-colour: #DFF0D8;
$message-good-border-colour: #D6E9C6;

$message-error-color: #B94A48;
$message-error-background-colour: #F2DEDE;
$message-error-border-colour: #EED3D7;

/* HTML5 Elements */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* 
 * Base/Reset styles (see h5bp for more info) 
 */
html { font-size: 100%; -webkit-text-size-adjust: none; -ms-text-size-adjust: none; text-size-adjust: none; }
html, button, input, select, textarea { font-family:$font-family, sans-serif; color: $font-color; }
body { margin: 0; font-size: 15px; line-height: 1.4; }
::-moz-selection { background: $font-color; color: $background-color; text-shadow: none; }
::selection { background: $font-color; color: $background-color; text-shadow: none; }
a:link, a:visited { color: $link-color; text-decoration: none; -webkit-transition: color .25s linear; -moz-transition: color .25s linear; -ms-transition: color .25s linear; transition: color .25s linear; }
a:hover { color: $link-color-hover; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
p { margin: 0 0 1em 0; }
h1,h2,h3,h4,h5,h6 { color: $font-color-heading; font-weight: normal; font-style: italic; margin: 1em 0 0 0; }
h1 { font-size: 200%; /* 30px */ }
h2 { font-size: 160%; /* 24px */ }
h3 { font-size: 120%; /* 18px */ font-weight: bold; }
h4 { font-size: 110%; /* 16.5px */ }
h5,h6 { font-size: 100%; font-weight: bold; color: $font-color; }
hgroup {h1,h2,h3,h4,h5,h6 {margin-top: 0;}}
p:first-child,h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child { margin-top: 0; } 
